/* src/app/globals.css */

:root {
  /* Paleta Base (Modo Claro) */
  --bg-principal: #F9F7F2;  
  --bg-secundario: #F2EBE5;  
  --texto-principal: #1F1D1D; 
  --texto-secundario: #7A5C55; 
  
  /* Colores de Acento (Comunes) */
  --texto-hover: #5C5655;

  /* Tipografía */
  --font-body: var(--font-plus-jakarta);
  --font-titles: var(--font-plus-jakarta);
}

[data-theme='dark'] {
  --bg-principal: #1A1614; 
  --bg-secundario: #2D241E; 
  --texto-principal: #D9C5B2; 
  --detalle-arcilla: #D9C5B2; 
}

/* RESET UNIVERSAL (Importante para evitar problemas de márgenes extraños) */
* {
  box-sizing: border-box;
  min-width: 0; /* Evita que los flex items se desborden */
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-principal);
  font-family: var(--font-body);
}

body {
  color: var(--texto-principal);
}

/* Estructura Principal */
.mainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Hacemos que el <main> ocupe todo el espacio disponible sobrante */
main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column; 
}