/* src/app/globals.css */

:root {
  /* --- Paleta Base (Modo Claro por defecto) --- */
  --bg-principal: #FCFBF7;
  --bg-secundario: #F5F3EE;
  --bg-footer-componente: #FFF;
  --texto-principal: #1f1d1d;
  --texto-secundario: #7a5c55;
  --texto-before-hover: #7a5c55;
  --texto-after-hover: #5d443f;
  --border-shadow: #00000016;

  /* Tipografía */
  --font-body: var(--font-plus-jakarta);
  --font-titles: var(--font-plus-jakarta);
}

/* --- MODO OSCURO (Preferencia de Sistema) --- */
/* Solo aplica si el usuario NO ha elegido un tema manualmente */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --bg-principal: #18181b;
    --bg-secundario: #27272a;
    --texto-principal: #f4f4f5;
    --texto-secundario: #9ca3af;
    --texto-before-hover: #795c51;
    --texto-after-hover: #5e463d;
    --border-shadow: #5b5a5a2f;
  }
}

/* --- MODO OSCURO (Forzado por botón) --- */
[data-theme="dark"] {
  --bg-principal: #18181b;
  --bg-secundario: #27272a;
  --texto-principal: #f4f4f5;
  --texto-secundario: #9ca3af;
  --texto-before-hover: #795c51;
  --texto-after-hover: #5e463d;
  --border-shadow: #5b5a5a2f;
}

/* --- MODO CLARO (Forzado por botón) --- */
[data-theme="light"] {
  --bg-principal: #FCFBF7;
  --bg-secundario: #F5F3EE;
  --texto-principal: #1f1d1d;
  --texto-secundario: #7a5c55;
  --texto-before-hover: #7a5c55;
  --texto-after-hover: #5d443f;
  --border-shadow: #00000016;
}

/* RESET UNIVERSAL (Importante para evitar problemas de márgenes extraños) */
* {
  box-sizing: border-box;
  min-width: 0; /* Evita que los flex items se desborden */
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-principal);
  font-family: var(--font-body);
}

body {
  color: var(--texto-principal);
}

/* Estructura Principal */
.mainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Hacemos que el <main> ocupe todo el espacio disponible sobrante */
main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
