/* src/app/globals.css */
:root {
  /* Habilita el modo claro/oscuro nativo del navegador */
  color-scheme: light dark;

  /* --- Definición de colores (Claro, Oscuro) --- */
  /* La sintaxis es: light-dark(COLOR_CLARO, COLOR_OSCURO) */
  --bg-principal: light-dark(#fcfbf7, #18181b);
  --bg-secundario: light-dark(#f5f3ee, #27272a);
  --bg-footer-componente: light-dark(#fff, #18181b);
  
  --texto-principal: light-dark(#1f1d1d, #f4f4f5);
  --texto-secundario: light-dark(#5C5655, #9ca3af);
  --texto-hover: light-dark(#7a5c55, #795c51);
  
  --boton-before-hover: light-dark(#7a5c55, #795c51);
  --boton-after-hover: light-dark(#5d443f, #5e463d);
  --border-shadow: light-dark(#00000016, #5b5a5a2f);

  /* Tipografía (igual para ambos) */
  --font-body: var(--font-plus-jakarta);
  --font-titles: var(--font-plus-jakarta);
}

/* --- CONTROL MANUAL --- */
/* Esto fuerza el cambio de variables de arriba automáticamente */
[data-theme="light"] {
  color-scheme: light;
}
[data-theme="dark"] {
  color-scheme: dark;
}

/* RESET UNIVERSAL (Importante para evitar problemas de márgenes extraños) */
* {
  box-sizing: border-box;
  min-width: 0; /* Evita que los flex items se desborden */
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-principal);
  font-family: var(--font-body);
}

body {
  color: var(--texto-principal);
  transition: background-color 0.8s ease, color 0.8s ease;
}

div, header, footer, nav, button {
  transition: background-color 0.8s ease, border-color 0.8s ease, color 0.8s ease, box-shadow 0.8s ease;
}

/* Estructura Principal */
.mainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Hacemos que el <main> ocupe todo el espacio disponible sobrante */
main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
