/* 1. Contenedor Principal: Le damos forma de tarjeta */
.dropdownWrapper {
  width: 100%;
  border-radius: 12px;
  box-shadow: 2px 2px 10px 2px var(--border-shadow);
  overflow: hidden;
  margin: 10px auto;
}

/* 2. El encabezado (Título + Icono) */
.dropdownTitle {
  margin: 0;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--primary-component-bg);
  color: var(--primary-text);
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

/* El icono de la flecha */
.dropdownIcon {
  font-size: 18px;
  color: var(--primary-text);
}

/* 3. La lista (UL) */
.dropdownList {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--primary-bg);
}

/* 4. Los enlaces individuales (A) */
.dropdownLink {
  display: block; /* Importante: hace que todo el rectángulo sea clickeable */
  padding: 12px 20px;
  text-decoration: none;
  color: var(--secondary-text);
  font-size: 14px;
  transition: all 0.1s ease;
}
