/* Footer.module.css */

/* --- Componente completo "FOOTER" --- */
.footerComponent {
  width: 100%;
  position: relative;
  border-top: 1px solid var(--bg-secundario);
  background-color: var(--bg-principal-componente);
  margin-top: auto;
  overflow: hidden;
}

/* --- Seccion de las columnas Logo, Tienda y Empresa --- */
.footerSection {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  gap: 40px;
  padding: 40px 20px;
  transition: all 0.5s ease-in-out;
}

/* -- columna de Hypper Rug -- */
.footerContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footerLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.icon {
  color: var(--texto-hover);
}

.footerLogo h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
}

.footerSlogan {
  font-size: 14px;
  line-height: 1.6;
  color: var(--texto-secundario);
  max-width: 320px;
}

/* - Redes Sociales - */
.socialMedias {
  display: flex;
  gap: 12px;
  margin-top: 5px;
  transition: 0.3s all ease-in-out;
}

.socialMedias a {
  display: flex;
  font-size: 20px;
  color: var(--texto-secundario);
  transition: 0.3s all ease-in-out;
}

.socialMedias a:hover {
  transform: translateY(-3px);
  color: var(--texto-hover);
}

/* -- columna de la tienda,empresa y ayuda -- */
.footerShop,
.footerCompany,
.footerHelp {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Estilo para los titulos h3 */
.footerShop h3,
.footerCompany h3,
.footerHelp h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--texto-principal);
  font-weight: 600;
}

.footerShop a,
.footerCompany a,
.footerHelp a {
  font-size: 14px;
  text-decoration: none;
  color: var(--texto-secundario);
  transition: 0.3s color ease;
}

.footerShop a:hover,
.footerCompany a:hover,
.footerHelp a:hover {
  color: var(--texto-secundario);
}

/* -- fila de los derechos reservados y politica de privacidad y terminos de servicio -- */
.footerLegal {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--bg-secundario);
}

.footerPolicy {
  display: flex;
  gap: 25px;
}

.footerLegal a,
.footerLegal p {
  font-size: 12px;
  color: var(--texto-secundario);
  text-decoration: none;
  margin: 0;
  transition: 0.3s all ease;
}

.footerLegal a:hover {
  color: var(--texto-secundario);
}

/* --- RESPONSIVE --- */

@media (max-width: 1024px) {
  .footerSection,
  .footerLegal {
    max-width: 90%;
  }

  .footerSection {
    grid-template-columns: 1.5fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .footerSection {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 100%;
    padding: 40px 20px;
    gap: 35px;
  }

  .footerSlogan {
    width: 100%;
    max-width: none;
  }

  .footerLegal {
    width: 100%;
    max-width: 100%;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 30px 20px;
    align-items: flex-start;
  }

  .footerPolicy {
    gap: 15px;
  }
}

@media (max-width: 469px) {
  .footerSection {
    grid-template-columns: 1fr;
  }

  .footerLogo {
    justify-content: center;
  }

  .footerSlogan {
    text-align: center;
    width: 100%;
  }

  .socialMedias {
    justify-content: center;
  }

  .socialMedias a {
    font-size: 24px;
  }

  .footerLegal {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
