.heroContainer {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
}

.heroInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
}

.heroBanner {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1rem;
  border-radius: 12px;
  padding: 3px 10px 3px 6px;
  color: var(--texto-hover);
  background-color: #7a5c551a;
}

.heroTitle {
  line-height: 4rem;
  margin: 14px 0;
  font-size: 68px;
  font-weight: 900;
}

.heroTitle span {
  display: inline-block;
  overflow: hidden;
  margin-top: 10px;
  padding: 10px;
  font-size: 66px;
  color: var(--boton-before-hover);
  border-radius: 52px 12px ;
  background-color: #7a5c551a;
  transform: rotate(-4deg);
}

.heroInfo p{
  max-width: 450px;
  font-size: 18px;
  color: var(--texto-hover);
}

.heroButtons{
  max-width: 450px;
  display: flex;
  gap: 30px;
}

.heroButtons a{
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  border-radius: 15px;
  padding: 16px 32px;
  text-decoration: none;
  box-shadow: 1px 2px 10px 2px var(--border-shadow);
  transition: 0.3s all ease;
}

.heroButtons a:first-of-type{
  display: flex;
  gap: 10px;
  color: #fff ;
  background-color: var(--boton-before-hover);
}

.heroButtons a:first-of-type:hover{
  background-color: var(--boton-after-hover);
}

.heroButtons a:first-of-type span{
  display: flex;
  align-items: center;
  transition: 0.3s all ease;
}

.heroButtons a:first-of-type:hover span{
  transform: translateX(6px);
}

.heroButtons a:nth-of-type(2){
  color: var(--texto-principal) ;
  background-color: var(--bg-footer-componente);
}

.heroSend{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 50px;
  font-size: 14px;
  color: var(--texto-hover);
}

.heroImage img {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  margin: auto;
  border-radius: 50px;
  transform: rotate(2deg);
  transition: 0.5s all ease;
}

.heroImage img:hover {
  box-shadow: 4px 4px 10px 4px var(--border-shadow);
  transform: rotate(0deg) scale(1.1);
}

@media (max-width: 1024px) {
  .heroContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .heroInfo{
    text-align: center;
  }

  .heroBanner{
    margin: auto;
  }

  .heroImage img {
    width: 80%;
    transform: rotate(0deg);
  }
}
