.authWrapper{
    height: 100dvh;
}
.imgWrapper{
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: url(../../../public/AuthFormImage.webp);
    background-position: center;
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;

}
.imgWrapper h1{
    color: var(--button-before-hover);
    background-color: var(--secondary-bg);
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
}
.formWrapper{
    width: 70%;
    margin: auto;
    display: grid;
    gap: 40px;
}
.authForm{
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    width: 100%;
    padding: 20px;
    gap: 30px;
    border-radius: 20px;
    border: 1px dashed var(--secondary-text);
    background-color: var(--primary-bg);
}
.authForm label{
    display: grid;
    grid-template-columns: auto;
}
.authForm input{

}
.toggleContainer {
    display: grid;
    grid-template-columns: auto;
    color: var(--dark-primary-text);
}
.toggleContainer p{
    font-size: larger;
    color: var(--secondary-text);
}