.footerComponent {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footerSection{
  display: grid;
  grid-template-columns: 50% 25% 25%;
  padding: 40px;
}

.footerLegal {
  padding: 1em;
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.01em solid var(--texto-principal);
}

.socialMedias{
  display: flex;
  gap: 10px;
}

.footerLegal a,
.footerLegal p {
  font-size: 12px;
  color: var(--texto-principal);
  text-decoration: none;
  transition: 0.3s color ease-out;
}

.footerLegal a:hover {
  color: var(--texto-secundario);
}
