.statCard {
  background: rgba(255, 255, 255, 0.03);
  /* Borde dashed gris como las features */
  border: 2px dashed rgba(255, 255, 255, 0.2); 
  border-radius: 20px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
}

.statCard:hover {
  border-color: var(--highlight-text);
  transform: scale(1.02);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* Badges rotados para los iconos (Estilo .badge) */
.statIconWrapper {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background: var(--primary-bg);
  border: 2px dashed rgba(255,255,255,0.3);
  border-radius: 12px;
  transform: rotate(-3deg); /* Rotación marca de la casa */
  box-shadow: 3px 3px 0px rgba(0,0,0,0.3);
  /*Colores reactivos que dependen del input*/
  color: var(--card-color); 
  border-color: var(--card-color);
}

.statInfo h3 {
  font-family: var(--font-titles);
  font-size: 3rem;
  margin: 0;
  line-height: 1;
  color: var(--white);
}

.statInfo p {
  margin: 5px 0 0 0;
  color: var(--grey-400);
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
